
# Editor Related Files & Directories
**/.vscode/

# CMake Related Files & Directories
**/CMakeFiles/
**/CMakeCache.txt
**/CMakeLists.txt.*
**/*.cmake
**/Makefile

# Python Related Files & Directories
**/__pycache__/
**/*.pyc
**/.venv/
**/.eggs/
**/*.egg-info/

# Project Directories
bin/
build/
deps/

# Built Files
**/*.a
**/*.o
**/*.bin
**/*.elf
**/*.hex
**/*.map
**/*.symtab
**/*.ignore
run

# Other Files
**/~*
**/.~*
**/*.bkp
**/*.bmp
**/*.jpg
**/*.pdf
**/*.png
**/*.log
**/*.json.*
**/*.pkl
**/*.dtmp
